ovh-manager-catalog-price {
  .oui-box {
    min-width: 20rem;
  }

  .price-frequency {
    font-size: 0.8rem;
  }

  .price-label {
    align-self: center;
    font-weight: 600;
  }

  .price {
    font-size: 2rem;
    font-weight: 400;
  }
}
